<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | ChronoKairo</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
  <header>
    <h1><a href="{{ site.baseurl }}/">CHRONOKAIRO</a></h1>
    <nav>
      <a href="{{ site.baseurl }}/">Início</a>
      <a href="{{ site.baseurl }}/about">Sobre</a>
      <a href="{{ site.baseurl }}/test">Test</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} ChronoKairo</p>
  </footer>
</body>

</html>